.title {
    text-align: center;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
}

.link {
    color: #fff;
    text-decoration: none;
    font-family: 'Product Sans';
    font-size: 1.5rem;
    margin: 10px;
}

.link:active {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .link {
        font-size: 1.2rem;
    }
}
